POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=databaseName

DEBUG=True
SECRET_KEY='django-insecure-[some-random-string]'
# ALLOWED_HOSTS=localhost, *

SUPABASE_KEY=your-key
SUPABASE_URL=https://<your-project-id>.supabase.co

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-password