{% extends 'base.html' %}
{% block title %}Giới thiệu - Capyboys{% endblock %}

{% block content %}
<div class="prose max-w-[1200px] min-h-[calc(100vh-240px)] px-6 mx-auto">
  <h2 class="border-b pb-4 border-gray-300">Giới thiệu</h2>
  <div>
    <section>
      Cửa hàng sách Capyboys là điểm đến lý tưởng cho những ai đam mê đọc sách
      và khám phá thế giới tri thức. Tọa lạc tại vị trí thuận tiện, cửa hàng
      mang đến cho bạn một không gian ấm cúng, đầy đủ các thể loại sách từ văn
      học, khoa học, kinh doanh, đến sách thiếu nhi, sách kỹ năng sống, và nhiều
      hơn nữa.
      <br />
      Với sứ mệnh mang lại những cuốn sách chất lượng và giá trị, Cửa Hàng Sách
      Capyboys luôn cam kết mang đến cho khách hàng những sản phẩm tuyệt vời,
      phù hợp với mọi lứa tuổi và nhu cầu.
    </section>
    <section>
      <strong>Sản phẩm và dịch vụ</strong>
      <ul>
        <li>
          <strong>Sách văn học:</strong> Sách văn học với nhiều thể loại và tác
          giả nổi tiếng, giúp bạn khám phá thế giới văn học đa dạng và phong
          phú.
        </li>
        <li>
          <strong>Sách thiếu nhi:</strong> Sách thiếu nhi với nhiều chủ đề hấp
          dẫn, giúp trẻ phát triển tư duy và kỹ năng sống.
        </li>
        <li>
          <strong>Sách kỹ năng sống:</strong> Sách kỹ năng sống giúp bạn phát
          triển bản thân, rèn luyện kỹ năng mềm và thành công trong cuộc sống.
        </li>
        <li>
          <strong>Sách truyện, Manga, Comic:</strong> Sách truyện, Manga, Comic
          với nhiều chủ đề và phong cách vẽ độc
        </li>
        <li>
          <strong>Tiểu thuyết, Light Novel:</strong> Tiểu thuyết với nhiều thể
          loại và tác giả nổi tiếng, giúp bạn thư giãn và tận hưởng những câu
          chuyện đầy cảm xúc.
        </li>
      </ul>
    </section>
    <section>
      <strong>Tầm nhìn và sứ mệnh</strong>
      <ul>
        <li>
          <strong>Tầm nhìn:</strong> Trở thành cửa hàng sách hàng đầu, mang lại
          giá trị và niềm vui cho mọi người.
        </li>
        <li>
          <strong>Sứ mệnh:</strong> Mang đến những cuốn sách chất lượng và giá
          trị, giúp mọi người phát triển bản thân và tìm kiếm niềm vui trong
          cuộc sống.
        </li>
      </ul>
    </section>
    <section>
      <div>
        <strong>Liên hệ</strong>
      </div>
      <div>
        <a href="https://www.facebook.com/profile.php?id=61571025615526">
          <FaSquareFacebook class="inline-block" />
          Facebook
        </a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
