{% extends 'base.html' %}

{% block content %}

<div class="snap-x mx-30px">
  <div class="snap-center">
    <img
      src="//theme.hstatic.net/200000343865/1001052087/14/ms_banner_img4.jpg?v=1590"
      alt="Triển lãm Thám tử lừng danh Conan" />
  </div>
</div>

<div>
  <c-section title="Sách mới" view-more-href="/collections/all">
    {% for product in new_products %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Sách bán chạy" view-more-href="/collections/all">
    {% for product in best_selling_products %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Văn học Việt Nam" view-more-href="/collections/van-hoc-viet-nam">
    {% for product in vietnamese_literatures %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Manga - Comics" view-more-href="/collections/manga-comic">
    {% for product in manga_comics %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Light Novel" view-more-href="/collections/light-novel">
    {% for product in light_novels %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>
</div>

{% endblock %}
