{% extends 'base.html' %}

{% block content %}

<div id="main-carousel" class="owl-carousel owl-theme">
    <img
    src="//theme.hstatic.net/200000343865/1001052087/14/ms_banner_img4.jpg?v=1590"
    alt="Triển lãm Thám tử lừng danh Conan"/>
    <img 
    src="//theme.hstatic.net/200000343865/1001052087/14/ms_banner_img1.jpg?v=1877"
    alt="Thành lập đoàn TNCS HCM"></img>
</div>

<div>
  <c-section title="Sách mới" view-more-href="/collections/all">
    {% for product in new_products %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Sách bán chạy" view-more-href="/collections/all?sort=best-selling">
    {% for product in best_selling_products %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Văn học Việt Nam" view-more-href="/collections/van-hoc-viet-nam">
    {% for product in vietnamese_literatures %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Manga - Comics" view-more-href="/collections/manga-comic">
    {% for product in manga_comics %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <c-section title="Light Novel" view-more-href="/collections/light-novel">
    {% for product in light_novels %}
      <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>

  <section>
    <div class="px-3 md:px-8 max-w-[1200px] my-14 mx-auto">
      <div
        class="text-center font-semibold text-2xl mb-4 relative after:block after:w-full after:h-[2px] after:bg-black after:top-1/2 after:absolute after:-z-10">
        <h2 class="text-gray-800 bg-white inline-block px-4 uppercase">
          Bài viết mới
        </h2>
      </div>
      <div class="flex flex-row flex-wrap">
        {% for blog in new_blogs %}
          <c-blog-item :blog="blog"></c-blog-item>
        {% endfor %}
      </div>
      <div class="text-right text-red-500 text-sm">
        <a 
          class="inline-block underline-animate underline-animate-left underline-animate-color-red-600 underline-animate-duration-500"
          href="/blogs/tin-tuc">Xem thêm >></a>
      </div>
    </div>
  </section>
</div>

{% endblock %}
