<section>
  <div class="px-3 md:px-8 max-w-[1200px] my-14 mx-auto">
    <div
      class="text-center font-semibold text-2xl mb-4 relative after:block after:w-full after:h-[2px] after:bg-black after:top-1/2 after:absolute after:-z-10">
      <h2 class="text-gray-800 bg-white inline-block px-4 uppercase">
        {{ title }}
      </h2>
    </div>
    <div class="owl-carousel owl-theme">{{ slot }}</div>
    <div class="text-right text-red-500 text-sm">
      <a 
        class="inline-block after:block after:w-0 after:border-b hover:after:w-full after:border-red-600 after:transition-all after:duration-[500ms]"
        href="{{ view_more_href }}">Xem thêm >></a>
    </div>
  </div>
</section>
