{% extends "base.html" %}
{% block title %}Đăng nhập - Capyboys{% endblock title %}

{% block content %}

<div class="flex justify-center items-center w-full min-h-[inherit]">
    <div class="w-full min-[500px]:max-w-[500px] min-[500px]:p-14 p-8 m-4 min-[500px]:m-0 bg-slate-100 border border-gray-200 rounded-md">
        <h2 class="text-center text-2xl pb-6 font-semibold">Đăng nhập</h2>
        <form id="login-form" action={% url "login" %} method="POST">
            {% csrf_token %}

            <div class="flex flex-col gap-4">
                <div class="grid gap-2">
                    <label for="id_username" class="font-semibold">Email</label>
                    <input  type="email" name="username" id="id_username" 
                            value="{{ email }}" 
                            placeholder="Nhập email"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm transition-colors duration-300"
                            required>
                </div>

                <div class="grid gap-2">
                    <label for="id_password" class="font-semibold">Mật khẩu</label>
                    <input  type="password" name="password" id="id_password" 
                            placeholder="Nhập mật khẩu"
                            class="my-1 block w-full rounded-md border-gray-300 shadow-sm transition-colors duration-300"
                            required>
                </div>

                <div>
                    {% if messages %}
                    {% for message in messages %}
                        <p class="text-red-600 text-sm font-semibold">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white font-semibold bg-red-600 hover:bg-red-700">
                        Đăng nhập
                    </button>
                </div>

                <div class="flex items-center justify-between">
                    <div class="text-sm">
                        <a href="{% url 'password_reset' %}" class="hover:text-red-500 transition-colors duration-300">
                            Quên mật khẩu?
                        </a>
                    </div>
                    <div class="text-sm">
                        <a href="{% url 'register' %}" class="hover:text-red-500 transition-colors duration-300">
                            Chưa có tài khoản?
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}