{% extends "base.html" %}
{%block title %}Theo dõi đơn hàng - Capyboys{% endblock title %}

{% block content %}
<div class="px-1 md:px-4 max-w-[1200px] pt-2 mx-auto">
    <div class="px-4">
        <a href="/" class="hover:text-red-500 transition-color duration-500">
            Trang chủ
        </a>
        <span aria-hidden="true"> / </span>
        <span>
            Theo dõi đơn hàng
        </span>
    </div>
    <div class="p-4 flex gap-8">
        <c-user-sidebar selected="orders"></c-user-sidebar>
        <div class="max-lg:pl-[58px] w-full">
            <h2 class="inline-block uppercase py-2 text-lg font-bold">Theo dõi đơn hàng</h2>
            <div class="pt-4">
                <div class="max-lg:hidden border-t">
                    {% if orders %}
                    {% for order in orders %}
                    <div class="border-b py-4">
                        <div class="flex justify-between items-center">
                            <div class="text-lg font-semibold">Mã đơn hàng: {{ order.id }}</div>
                            <div class="text-sm text-gray-500">{{ order.created_at|date:"d/m/Y" }}</div>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div>Trạng thái:  {{ order.get_status_display }}</div>
                            <div>
                                <span>
                                    Tổng tiền: 
                                </span>
                                <span class="pl-2 text-lg font-semibold text-red-600">
                                    {{ order.total_price|floatformat:"0g" }}đ
                                </span>
                            </div>
                        </div>
                        <div>
                            <span>Đã thanh toán:</span>
                            <span class="inline-block translate-y-[2px]">
                                {% if order.is_paid %}
                                    <i class="text-green-600 ph-bold ph-check"></i>
                                {% else %}
                                    <i class="text-red-600 ph-bold ph-x"></i>
                                {% endif %}
                            </span>
                        </div>
                        <a href="#" class="text-red-600 mt-2 block">Xem chi tiết</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="text-center py-4 text-lg font-semibold">Chưa có đơn hàng nào</div>
                    {% endif %}
                </div>

                <div class="lg:hidden border-t">
                    {% if orders %}
                    {% for order in orders %}
                    <div class="border-b py-4">
                        <div class="text-lg font-semibold">Mã đơn hàng: {{ order.id }}</div>
                        <div class="text-sm text-gray-500">{{ order.created_at|date:"d/m/Y" }}</div>
                        <div class="text-sm mt-2">Trạng thái:  {{ order.get_status_display }}</div>
                        <div>
                            <span class="text-sm">Đã thanh toán:</span>
                            <span class="inline-block translate-y-[2px]">
                                {% if order.is_paid %}
                                    <i class="text-green-600 ph-bold ph-check"></i>
                                {% else %}
                                    <i class="text-red-600 ph-bold ph-x"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="mt-2">
                            <span class="text-sm">
                                Tổng tiền: 
                            </span>
                            <span class="pl-2 text-lg font-semibold text-red-600">
                                {{ order.total_price|floatformat:"0g" }}đ
                            </span>
                        </div>
                        <a href="#" class="text-red-600 mt-2 block">Xem chi tiết</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="text-center py-4 text-lg font-semibold">Chưa có đơn hàng nào</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}