{% extends "base.html" %}
{% block title %}Đã gửi email khôi phục mật khẩu - Capyboys{% endblock title %}

{% block content %}
<div class="px-1 md:px-4 max-w-[1200px] mx-auto">
    <h2 class="font-semibold text-2xl py-4">Đã gửi email khôi phục mật khẩu</h2>
    <p>Chúng tôi đã gửi cho bạn một email để khôi phục mật khẩu. Vui lòng kiểm tra hộp thư đến của bạn và làm theo hướng dẫn trong email để khôi phục mật khẩu của bạn.</p>
    <p>Nếu bạn không nhận được email, hãy kiểm tra thư mục spam hoặc thử lại.</p>
</div>
{% endblock %}