{% extends "base.html" %}
{% block title %}Quên mật khẩu - Capyboys{% endblock title %}

{% block content %}
<div class="flex justify-center items-center w-full min-h-[inherit]">
    <div class="w-full min-[500px]:max-w-[500px] min-[500px]:p-14 p-8 m-4 min-[500px]:m-0 bg-slate-100 border border-gray-200 rounded-md">
        <h2 class="text-center text-2xl pb-6 font-semibold">Khôi phục mật khẩu</h2>
        <form method="POST">
            {% csrf_token %}

            <div class="flex flex-col gap-4">
                <div class="grid gap-2">
                    <div>Điền email của tài khoản mà bạn muốn khôi phục mật khẩu</div>
                    <label for="id_email" class="font-semibold">Email</label>
                    <input  type="email" name="email" id="id_email" 
                            value="{{ email }}" 
                            placeholder="Nhập email"
                            maxlength="254"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm transition-colors duration-300"
                            required>
                </div>

                <div>
                    <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white font-semibold bg-red-600 hover:bg-red-700">
                        Xác nhận
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}