{% extends "base.html" %}
{%block title %}Thông tin tài khoản - Capyboys{% endblock title %}

{% block content %}
<div class="px-1 md:px-4 max-w-[1200px] pt-2 mx-auto">
    <div class="px-4">
        <a href="/" class="hover:text-red-500 transition-color duration-500">
            Trang chủ
        </a>
        <span aria-hidden="true"> / </span>
        <span>
            Thông tin tài khoản
        </span>
    </div>
    <div class="p-4 flex gap-8">
        <c-user-sidebar></c-user-sidebar>
        <div class="max-lg:pl-[58px]">TEST</div>
    </div>
</div>
{% endblock %}