{% extends 'base.html' %}
{% block title %}{{current_collection.name|default:"Tất cả sản phẩm"}} - Capyboys{% endblock %}

{% block content %}
<section>
  <div class="px-1 md:px-4 max-w-[1200px] my-8 mx-auto">
    <div class="px-4">
      <a href="/" class="hover:text-red-500 transition-color duration-500">
        Trang chủ
      </a>
      <span aria-hidden="true"> / </span>
      <span>
        {% if current_collection %}
          {{current_collection.name}}
        {% else %}
          Tất cả sản phẩm
        {% endif %}
      </span>
    </div>

    <div class="py-4 grid md:grid-cols-[25%_1fr]">
        <div class="hidden md:flex flex-col gap-4 px-4 w-full">
          <c-content-filter displayName="Danh mục sản phẩm" :contents="collections" contentHref="collections"/>
          <c-price-filter currentValue="{{price_query}}" contentHref="{{base_url}}" :price-ranges="price_ranges"></c-price-filter>
          {% if related_authors %}
            <c-author-filter currentValue="{{author_query}}" contentHref="{{base_url}}" :authors="related_authors"></c-author-filter>
          {% endif %}
          {% if related_genres %}
          <c-genre-filter currentValue="{{genre_query}}" contentHref="{{base_url}}" :genres="related_genres"></c-genre-filter>
        {% endif %}
        </div>

        <div class="px-4">
          <h2 class="inline-block uppercase py-2 text-lg font-bold">
            {% if current_collection %}
              {{current_collection.name}}
            {% else %}
              Tất cả sản phẩm
            {% endif %}
          </h2>
          <div class="grid grid-cols-2 gap-4 md:hidden py-2 w-full">
            <c-content-filter displayName="Danh mục sản phẩm" contentHref="collections" :contents="collections" initialHide="True"/>
            <c-price-filter currentValue="{{price_query}}" contentHref="{{base_url}}" :price-ranges="price_ranges" initialHide="True"></c-price-filter>
            {% if related_authors %}
              <c-author-filter currentValue="{{author_query}}" contentHref="{{base_url}}" :authors="related_authors" initialHide="True"></c-author-filter>
              {% endif %}
            {% if related_genres %}
              <c-genre-filter currentValue="{{genre_query}}" contentHref="{{base_url}}" :genres="related_genres" initialHide="True"></c-genre-filter>
            {% endif %}
          </div>
          <div class="pt-2 text-sm">
            <span>Sắp xếp</span>
            <select id="sorter" class="text-sm ml-4 rounded-lg">
              {% for key,value in sort_options.items %}
                <option value="{{key}}" {% if current_sort == key %}selected{% endif %} >{{value.name}}</option>
              {% endfor %}
            </select>
          </div>

          <c-product-list :products="products" href="{{base_url}}" :currentPage="current_page" :totalPage="total_page"></c-product-list>
        </div>
      </div>
    </div>
  </section>
{% endblock %}