@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .underline-animate {
    @apply after:block after:scale-x-0 after:border-b hover:after:scale-x-100 after:transition-transform
  }

  .underline-animate-center {
    @apply after:origin-center hover:after:origin-center
  }

  .underline-animate-left {
    @apply after:origin-left hover:after:origin-left
  }

  .underline-animate-right {
    @apply after:origin-right hover:after:origin-right
  }
}

.owl-theme .owl-nav {
  @apply absolute top-1/2 w-full h-0 m-0 z-50;
}

.owl-theme .owl-nav .owl-prev, .owl-next {
  @apply absolute transform -translate-y-1/2 w-9 h-9 rounded-lg !bg-gray-300 bg-opacity-85;
}

.owl-theme .owl-nav .owl-next {
  @apply right-0;
}

.owl-theme .owl-nav .owl-prev {
  @apply left-0;
}


/* animation by w3schools https://www.w3schools.com/howto/howto_css_modals.asp */
@-webkit-keyframes animatetop {
  from {
    top:-300px; 
    opacity:0
  } 
  to {
    top:0; 
    opacity:1
  }
}

@keyframes animatetop {
  from {
    top:-300px; 
    opacity:0
  }
  to {
    top:0; 
    opacity:1
  }
}

.modal-container__content {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
} 

.content-filter-btn .icon-container::after {
  content: "\e32a";
}

.content-filter-btn[data-state="closed"] .icon-container::after {
  content: "\e3d4";
}

#sidebar-overlay {
  transition: height 0ms ease 300ms, opacity 300ms ease;
}

#sidebar-overlay.active {
  transition: opacity 300ms ease;
}