{% extends 'base.html' %}
{% block title %}{{ product.title }} - Capyboys{% endblock %} 

{% block content %}
<div class="px-1 md:px-4 max-w-[1200px] mx-auto">
  <section>
    <div class="px-4">
      <a href="/" class="hover:text-red-500 transition-color duration-500">
        Trang chủ
      </a>
      <span aria-hidden="true"> / </span>
      <a
        href="/collections/{{ current_collection.slug }}"
        class="hover:text-red-500 transition-color duration-500">
        {{ current_collection.name }}
      </a>
      <span aria-hidden="true"> / </span>
      <span>{{ product.title }}</span>
    </div>
    <div class="py-4 flex flex-wrap border-b border-gray-300">
      <div class="basis-full md:basis-2/5 p-4">
        <a data-fancybox="image" href="{{ product.cover_img }}">
          <img src="{{ product.cover_img }}" {% if product.cover_img and product.cover_img.url %}onerror="this.src='{{product.cover_img.url}};'"{% endif %} alt="{{ product.title }}" />
        </a>
      </div>

      <div class="basis-full md:basis-3/5 p-8 pb-0 md:p-4">
        <h2
          class="uppercase font-semibold text-2xl pb-4 mb-2 border-b border-gray-300">
          {{ product.title }}
        </h2>
        <h2
          class="font-semibold text-2xl pb-2 mb-2 border-b border-gray-300 text-red-500">
          {{ product_price }}
        </h2>
        <div class="flex flex-wrap">
          <div class="basis-full pb-8 md:basis-1/2">
            <ul class="list-disc pl-6 leading-[1.75]">
              <li>
                <strong>Tác giả: </strong>
                {% for author in authors %}
                  <a href="/search/?author={{author.name|urlencode}}" class="text-red-600 font-semibold hover:text-red-500">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </li>
              <li>
                <strong>Nhà xuất bản: </strong>
                {{ product.publisher }}
              </li>
              {% if genres %}
              <li>
                <strong>Thể loại: </strong>
                {% for genre in genres %}
                  <a href="/search/?genre={{genre.name|urlencode}}" class="text-red-600 font-semibold hover:text-red-500">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </li>
              {% endif %}
              {% for attr in product_attributes %}
              <li>
                <strong>{{ attr.attribute.name }}: </strong>
                {{ attr.value }}
              </li>
              {% endfor %}
              {% if collections %}
              <li>
                <strong>Bộ sách: </strong>
                {% for collection in collections %}
                  <a href="/collections/{{ collection.slug }}" class="text-red-600 font-semibold hover:text-red-500">{{ collection.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </li>
              {% endif %}
            </ul>
          </div>
          <div id="add-to-cart" class="basis-full md:basis-1/2 md:pl-8">
            <div>
              <button
                id="add-to-cart-btn-decrease"
                class="size-8 border border-gray-200">
                <span> - </span>
              </button>
              <input id="add-to-cart-quantity" type="number" min="{{min_quantity}}" max="{{max_quantity}}" value="{{min_quantity}}" class="py-1 border w-20 border-gray-200 text-center"></input>
              <button
                id="add-to-cart-btn-increase"
                class="size-8 border border-gray-200">
                <span> + </span>
              </button>
            </div>
            <div class="my-4">
              <button 
                id="add-to-cart-btn"
                data-product-id={{product.pk}} class="p-1 w-full bg-red-600 text-white rounded-md font-semibold text-[14px] uppercase enabled:hover:bg-red-700 transition-colors duration-300 disabled:bg-neutral-600"
                {% if not product.stock %}disabled{% endif %}>
                {% if product.stock %}
                  Thêm vào giỏ hàng
                {% else %}
                  Tạm hết hàng
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="md:grid md:grid-cols-[75%_auto] md:gap-7 p-4">
      <div class="pt-4">
        <h2 class="uppercase text-center font-semibold text-white bg-red-600">
          Giới thiệu sách
        </h2>
        <div class="px-10 py-2 prose max-w-full border text-neutral-800 pt-6">
          {% if product.description %}
          <span>{{ product.description|safe }}</span>
          {% else %}
          <div class="text-center h-32 leading-[8rem]">Chưa có thông tin</div>
          {% endif %}
        </div>
      </div>

      {% if related_products %}
      <div class="pt-4 border">
        <h2 class="uppercase text-center font-semibold text-white bg-red-600">
          Sách cùng tác giả
        </h2>
        <div class="flex flex-col gap-4 p-4">
          {% for product in related_products|slice:'8' %}
          <div class="grid grid-cols-[30%_auto] gap-3">
            <img src="{{product.cover_img}}" alt="product.title" {% if product.cover_img and product.cover_img.url %}onerror="this.src='{{product.cover_img.url}};'"{% endif %}>
            <div class="text-[14px] font-semibold">
              <a href="/products/{{product.slug}}" class="font-semibold text-gray-800 hover:text-red-600 transition-colors duration-300">
                {{product.title}}
              </a>
              <div class="text-red-600">{{product.price|floatformat:'0g'}} đ</div>
            </div>
          </div>
          {% endfor %}
          <div class="mx-auto">
            <a href="/search/?author={{authors|first|urlencode}}" class="py-[2px] px-4 bg-red-600 text-white cursor-pointer hover:bg-red-700 text-center">
              Xem thêm
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>

  {% if related_genre_products %}
  <c-section title="Sách cùng thể loại" view-more-href="/search/?genre={{genres|first|urlencode}}">
    {% for product in related_genre_products|slice:'10' %}
    <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>
  {% endif %}

  {% if related_collection_products %}
  {% with collections|first as related_collection %}
  <c-section title="Sách cùng bộ" view-more-href="/collections/{{related_collection.slug}}">
    {% for product in related_collection_products|slice:'10' %}
    <c-product-item :product="product"></c-product-item>
    {% endfor %}
  </c-section>
  {% endwith %}
  {% endif %}

  <script>
    $(document).ready(function() {
      $("#add-to-cart-btn-decrease").click(function() {
        let quantityInput = $("#add-to-cart-quantity");
        let quantity = parseInt(quantityInput.val());
        let min = quantityInput.attr("min");

        if (quantity > min) {
          quantityInput.val(quantity - 1);
        }
      });

      $("#add-to-cart-btn-increase").click(function() {
        let quantityInput = $("#add-to-cart-quantity");
        let quantity = parseInt(quantityInput.val());

        let max = quantityInput.attr("max");
        if (quantity < max) {
          quantityInput.val(quantity + 1);
        }
      }); 

      $("#add-to-cart-quantity").on("input" ,function() {
        let quantityInput = $("#add-to-cart-quantity");
        let quantity = parseInt(quantityInput.val());
        let min = quantityInput.attr("min");
        let max = quantityInput.attr("max");

        if (quantity < min || isNaN(quantity)) {
          quantityInput.val(min);
        } else if (quantity > max) {
          quantityInput.val(max);
        }
      });

      $("#add-to-cart-btn").click(function() {
        let product_id = parseInt($(this).data("product-id"));
        let quantityInput = $("#add-to-cart-quantity");
        let quantity = parseInt(quantityInput.val());

        if (quantity < 1) {
          $("#error-modal__body").html("Hiện không thể đặt thêm sản phẩm {{product.title}}. Số lượng hàng trong kho không đủ. Nếu bạn có nhu cầu đặt thêm xin hãy liên hệ với chúng tôi.");
          $("#error-modal").toggle();
          return;
        };
        
        $.ajax({
          type: "POST",
          url: '{% url "add-to-cart" %}',
          data: {
              product_id: product_id,
              quantity: quantity,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(json) {
            $.ajax({
              type: "GET",
              url: '{% url "cart-modal" %}',
              success: function(xhr) {
                let cartModal = $("#cart-modal");
                let $content = $(xhr).children();

                cartModal.html($content);
                if (json.data?.total_cart_item) {
                  $("#cart-count-badge").text(json.data.total_cart_item);
                }
                
                if (json.data?.total_quantity) {
                  let max = Math.max(0, Math.min({{product.stock}} - json.data.total_quantity, 99))
                  quantityInput.attr("max", max); 

                  if (max < 1) {
                    quantityInput.attr("min", 0);
                  }
                  if (quantity > max) {
                    quantityInput.val(max);
                  }
                }
                
                cartModal.toggle();
              }
            })
          },
          error: function(xhr) {
            if (typeof xhr.responseJSON.message === "string") {
              let errorMessage = xhr.responseJSON.message;

              $("#error-modal__body").html(errorMessage);
              $("#error-modal").toggle();
            }
          }
        })
      })
    })
  </script>
</div>
{% endblock %}