<c-vars products slug totalPage currentPage/>

<div class="flex flex-row flex-wrap py-4">
    {% if products|length == 0 %}
        <div class="py-4">Chưa có sản phẩm nào cả</div>
    {% else %}
    {% for product in products %}
        <c-product-item
            :product="product"
            class="basis-1/2 sm:basis-1/3 md:basis-1/3 lg:basis-1/4"></c-product-item>
    {% endfor %}
    {% endif %}
    <c-pagination :totalPages="totalPage" :currentPage="currentPage" href="/collections/{{slug}}"></c-pagination>
</div>