{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    {% include "includes/extra_head.html" %}
    {% block extra_dependencies %}
    {% endblock extra_dependencies %}

    <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% tailwind_css %}
    <title>{% block title %}Capyboys{% endblock title %}</title>
</head>
<body>
    {% include 'includes/navbar.html' %}
    <div class="min-h-[calc(100vh-240px)]">
        {% block content %}
        {% endblock content %}
        
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>