<c-vars contents displayName contentHref initialHide/>

<div>
  <button
    class="content-filter-btn flex w-full bg-red-600 items-center text-white uppercase text-left text-sm font-semibold rounded-sm">
    <span class="pl-3 py-3">{{displayName}}</span>
    <span class="px-3 py-3 ml-auto font-extrabold">
      {% if hide == 'true' %}+{% else %}-{% endif %}
    </span>
  </button>
  
  <div
    class="content-filter-container w-full uppercase text-left text-sm font-semibold border border-gray-200 rounded-sm overflow-hidden {% if initialHide == 'True' %}h-0{% endif %}">
    <ul class="p-2">
      {% if slot %}
        {{slot}}
      {% else %}
      {% for item in contents %}
      <li class="py-1">
        <a
          href="/{{contentHref}}/{{item.slug}}"
          class="block hover:text-red-600 transition-colors duration-300 underline-animate underline-animate-left underline-animate-color-red-600 underline-animate-duration-[800ms]">
          {{item.name}}
        </a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>

