<c-vars id/>

<div {% if id %}id="{{id}}"{% endif %} class="modal-container fixed w-screen h-screen top-0 left-0 z-30 bg-black bg-opacity-40 overflow-auto hidden">
    <div {% if id %}id="{{id}}__content"{% endif %} class="modal-container__content relative bg-white mx-6 md:w-4/5 md:mx-auto max-w-[850px] mt-24 p-4 rounded-md shadow-md shadow-neutral-600">
        <div class="absolute bg-red-600 w-8 h-8 rounded-full -top-4 -right-4">
            <button {% if id %}id="{{id}}__close-btn"{% endif %} class="modal-container__close-btn w-full h-full">
                <i class="ph-bold ph-x text-white"></i>
            </button>
        </div>
        <div class="flex flex-col gap-2">
            {% if header %}
            <div {% if id %}id="{{id}}__header"{% endif %} class="modal-container__header">
                {{ header }}
            </div>
            {% endif %}
            {% if body %}
            <div {% if id %}id="{{id}}__body"{% endif %} class="modal-container__body">
                {{ body }}
            </div>
            {% endif %}
            {% if footer %}
            <div {% if id %}id="{{id}}__footer"{% endif %} class="modal-container__footer">
                {{ footer }}
            </div>
            {% endif %}
        </div>
        {% if script %}
        {{ script }}
        {% endif %}
    </div>
</div>