<c-vars href currentPage=1 pageNumber=1 />


{% if currentPage == pageNumber %}
  <span class="size-[40px] mx-1.5 bg-red-600 border-red-600 border rounded font-semibold text-xl text-white">
    <a href="{{ href }}?page={{ pageNumber }}" class="pointer-events-none size-full inline-block text-center content-center">
      {{ pageNumber }}
    </a>
  </span>
{% else %}
  <span class="size-[40px] mx-1.5 border-black border rounded font-semibold text-xl">
    <a href="{{ href }}?page={{ pageNumber }}" class="size-full inline-block text-center content-center">
      {{ pageNumber }}
    </a>
  </span>
{% endif %}
